anypoint_programs_contd-master/anypoint_programs_contd-master/munitDemo/src/main/app/munitdemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="munitdemoFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/munit" allowedMethods="GET" doc:name="HTTP"/>
        <set-payload value="#[message.inboundProperties.'http.query.params'.decisionKey]" doc:name="Set Payload"/>
        <flow-ref name="decisionFlow" doc:name="decisionFlow"/>
        <choice doc:name="Choice">
            <when expression="#[flowVars.decisionVariable == &quot;decision1&quot;]">
                <set-payload value="decision1 was taken" doc:name="Set Payload"/>
            </when>
            <otherwise>
                <set-payload value="decision2 was taken" doc:name="Set Payload"/>
            </otherwise>
        </choice>
    </flow>
    <flow name="decisionFlow">
        <choice doc:name="Choice">
            <when expression="#[payload.equals('value1')]">
                <flow-ref name="decision1Sub_Flow" doc:name="decision1Sub_Flow"/>
            </when>
            <otherwise>
                <flow-ref name="decision2Sub_Flow1" doc:name="decision2Sub_Flow1"/>
            </otherwise>
        </choice>
    </flow>
    <sub-flow name="decision1Sub_Flow">
        <set-variable variableName="decisionVariable" value="decision1" doc:name="decision Variable1"/>
    </sub-flow>
    <sub-flow name="decision2Sub_Flow1">
        <set-variable variableName="decisionVariable" value="decision2" doc:name="decision Variable2"/>
    </sub-flow>
</mule>
